.gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-image{
    transition: transform 0.3s, filter 0.3s;
}
.gallery-image:hover{
    transform: scale(1.1);
    filter: brightness(1);
}
