.work-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-image{
    width: 500px;
}
.work-title{
    font-family: 'Poppins-Regular';
}
.work-sub{
    font-family: 'Poppins-Light';
}